body {
    color: white;
}

.main-cont {
    /* height: 100vh; */
}

.right-top {
    height: auto;
    color: white;
}

.profile-image-col {
    height: auto;
}

.image-cont {
    width: 50px !important;
    height: 50px !important;
    background-color: white;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;

}

/* .notification {

} */

.notification-content {
    position: absolute;
    width: 25px;
    height: 25px;
    background: red;
    top: 3px;
    color: white;
    right: 28px;
    border-radius: 50%;
}

.btn-tabs-box {
    position: relative;
}

.btn-tabs-box a {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    color: white !important;
}

.dash-content {
    position: relative;
    border: 1px solid white;
}

.tab-content-custom {
    background: rgba(128, 128, 128, 0.507);
    min-height: 200px;
    overflow: hidden;
}


.content-cols {
    /* background-color: red; */
    height: auto;
    text-align: center;
}

.content-hold {
    width: 90% !important;
    cursor: pointer;
    margin: auto;
    border: 1px solid white;
    display: inline-block;
    color: white;
    transition-duration: 0.5s;
}

.content-hold:hover {
    text-decoration: none !important;
}

.icon {
    /* color: blue !important; */
    position: relative;
}

.with-pple {
    color: gray;
    position: absolute;
    font-size: 30px;
    right: 35%;
    top: 55%;
}

.text-danger {
    color: red;
    color: rgb(68, 67, 67);
}

.chart-box {
    /* height: 200px; */
    /* background-color: red; */
    border: 1px solid white;
}

.btn-custom {
    width: 100% !important;
    background: transparent;
    border: 1px solid white;
    border-radius: 0;
    color: white;
}

.to-house-form {
    background: red !important;
}