body {
    color: white;
}

.main-cont {
    /* height: 100vh; */
}

.right-top {
    height: auto;
    color: white;
}

.profile-image-col {
    height: auto;
}

.image-cont {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
}

.btn-tabs-box {
    position: relative;
}

.btn-tabs-box a {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    color: white !important;
}

.dash-content {
    position: relative;
    border: 1px solid white;
}

.tab-content-custom {
    background: rgba(128, 128, 128, 0.507);
    min-height: 200px;
    overflow: hidden;
}


.content-cols {
    /* background-color: red; */
    height: auto;
    text-align: center;
}

.content-hold {
    width: 90%;
    cursor: pointer;
    margin: auto;
    border: 1px solid white;
}

.icon {
    /* color: blue !important; */
    position: relative;
}

.with-pple {
    color: gray;
    position: absolute;
    font-size: 30px;
    right: 35%;
    top: 55%;
}

.text-danger {
    color: red;
}

.chart-box {
    height: 200px;
    background-color: red;
}