.profile-image {
    background: red;
    height: 300px;
}

.btn-tabs-box {
    background: green;
}

.btn-tabs-box a {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.dash-content {
    background: brown;
}

.tab-content-custom {
    background: gray;
    height: 100%;
    position: relative;
    top: -80px;
}