.main-cont {
    /* height: 100vh; */
}

.profile-image {
    background: rgb(216, 197, 197);
    height: 300px;
}

.right-top {
    background: rgb(15, 15, 167);
    height: 200px;
    color: white;
}

.btn-tabs-box {
    background: rgb(15, 15, 167);
    color: white !important;
}

.btn-tabs-box a {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.dash-content {
    background: brown;
    min-height: inherit;
    position: relative;
    max-height: auto;
}

.tab-content-custom {
    background: gray;
    min-height: 500px;
    position: relative;
    top: -200px;
}